@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.homehome{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.home1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: url('../Assets/bgwall3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 200px 200px;
}
.dabba{
    position: absolute;

}
.headinghome{
    padding:0 2rem;
    font-family: "salsa",sans-serif;
    font-size: 4rem;
    background: -webkit-linear-gradient(120deg,#a6c0fe, #f68084 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.caption{
    padding:0 2rem;
    font-size: 1.2rem;
    font-family: "Poppins",sans-serif;
    background: -webkit-linear-gradient(120deg,#a6c0fe, #f68084 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.home1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background:url("../Assets/bgwall3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 200px 200px;
}
#home2{
    height: 100vh;
    width: 100%;
    padding: 500px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
}


.home2img{
width: 30%;
animation: imgup 0.9s linear infinite alternate;
}

@keyframes imgup {
    to{
        transform: translateY(-50px);
    }
}

.home2div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    height: 100vh;
}
.home2text{
    color: black;
    font-size: 1.2rem;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: "Poppins";
}



.home3{
    width: 100%;
    height: 100vh;
    margin-top: -200px;
    display: flex;
}
.home3img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100vh;
}
.home3 img{
    width: 100%;
}
.home4 img{
    width: 100%;
}
.home3content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    background-color: black;
    background: url("../Assets/bgwall3.jpg");
    color: white;
    border-radius: 0 200px 200px 0;
    height: 100vh;
  
}

.home3heading{
    font-family:"salsa";
    font-size: 4rem;
   

}

.home3text{
    padding:0 3rem;
    font-size: 1.3rem;
    font-family: "Poppins";
    word-spacing: 2px;
    font-style: italic;
}



.home4{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.brands{
    background-color: white;
    background: url("../Assets/bgwall3.jpg");
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border-radius: 200px 0 0 200px;
    padding: 2rem;
}
.home4heading{
    font-family: "salsa",sans-serif;
    font-size: 4rem;
    color: white;
}
.brandlogos{
    display: flex;
    justify-content: space-evenly;
    margin:2rem 0;
    flex-wrap: wrap;
    
}

.home4 .brandlogos div{
    margin: 1rem;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: white;
    
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
cursor: pointer;
font-size: 1.3rem;
font-family: "Poppins";
    transition: all 0.5s;
    animation: imgupx 0.7s linear infinite alternate;
}
.home4 .brandlogos div svg{
    font-size: 3rem;
    
}
.home4 .brandlogos div:hover{
filter: invert(1);
background-color: gray;
transform: scale(1.2);
}

@keyframes imgupx {
    to{
        transform: translateY(-15px);
    }
}
@media (max-width:1200px) {
    .homehome{
        background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    }
    .headinghome{
        font-size: 2rem;
    }
    .caption{
        font-size: 1rem;
    }
    .home3content{
        width: 80%;
    }
    .home3heading{
        font-size: 3rem;
    }
    .home3text{
        font-size: 1.1rem;
    }
    .home4heading{
       
        font-size: 3rem;
    }
    .brandlogos{
        margin:1rem 0;
    }
    
    .home4 .brandlogos div{
        margin: 1rem;
        height: 8rem;
        width: 8rem;
    font-size: 1rem;
    }
    .home4 .brandlogos div svg{
        font-size: 4rem;
    }
    .home4 .brandlogos div:hover{
    filter: invert(1);
    background-color: gray;
    transform: scale(1.2);
    }
}
@media (max-width : 1130px) {
   .headinghome{
    font-size: 2rem;
   }
    .caption{
        font-size: 0.5rem;
    }
}

@media (max-width : 1080px) {
    .headinghome{
     font-size: 1.8rem;
    }
     .caption{
         font-size: 0.5rem;
     }
 }
 @media (max-width : 1000px) {
    .dabba{
        display: none   ;
    }
 }


@media (max-width:800px) {
    

    .home1{
    background-size: auto;
    background-repeat: no-repeat;
    }
    .home1::before{
        position: absolute;
        background:url("../Assets/bgwall3.jpg");
        background-size:1140px;
        background-position: -200px;
        background-repeat: no-repeat;
        border-radius: 0 0 200px 200px;
    }
    .headinghome{
        font-size: 2rem;
    }
    .caption{
        font-size: 1rem;
    }
    .home2text{
        font-size: 1rem;
    }
    .home2img{
        width: 40%;
    }

    .home3content{
        width: 80%;
    }
    
    .home3heading{
        font-size: 2rem;
    }
    
    .home3text{
        font-size: 0.8rem;
    }
    
    .home4heading{
        font-size: 2rem;
    }
    .brandlogos{
        margin:1rem 0;
    }
    
    .home4 .brandlogos div{
        margin: 1rem;
        height: 7rem;
        width: 7rem;
    font-size: 1rem;
    }
    .home4 .brandlogos div svg{
        font-size: 3rem;
    }
    .home4 .brandlogos div:hover{
    filter: invert(1);
    background-color: gray;
    transform: scale(1.2);
    }
}



@media (max-width:600px) {
    .home1{
    background-size: auto;
    background-repeat: no-repeat;
    }
    .home1::before{
      
        background-size:1100px;
        background-position: -200px;
        background-repeat: no-repeat;
        border-radius: 0 0 200px 200px;
    }
    .headinghome{
        font-size: 2rem;
    }
    .caption{
        font-size: 1rem;
    }
    .home2text{
        /* width: 100%; */
        font-size: 0.8rem;
    }
}

@media (max-width:506px) {
    

    .home1{
    background-size: auto;
    background-repeat: no-repeat;
    }
    .home1::before{
      
        background-size:900px;
        background-position: -200px;
        background-repeat: no-repeat;
        border-radius: 0 0 200px 200px;
    }
    .headinghome{
        font-size: 2rem;
    }
    .caption{
        font-size: 1rem;
    }
   .home2div{
    width: 100%;
    margin: 0;
   }
    .home2text{
        font-size: 0.7rem;
    }
    .home2img{
        width: 30%;
    }

    .home3content{
        width: 80%;
    }
    
    .home3heading{
        font-size: 1.8rem;
    }
    
    .home3text{
        font-size: 0.6rem;
    }
    
    .home4heading{
       
        font-size: 1.8rem;
    }
    .brandlogos{
        margin:1rem 0;
    }
    
    .home4 .brandlogos div{
        margin: 1rem;
        height: 5rem;
        width: 5rem;
    font-size: 0.5rem;
    }
    .home4 .brandlogos div svg{
        font-size: 2rem;
    }
    .home4 .brandlogos div:hover{
    filter: invert(1);
    background-color: gray;
    transform: scale(1.2);
    }
}


@media (max-width:420px) {
    

    .home1{
    background-size: auto;
    background-repeat: no-repeat;
    }
    .home1::before{
      
        background-size:700px;
        background-position: -100px;
        background-repeat: no-repeat;
        border-radius: 0 0 200px 200px;
    }
    .headinghome{
        font-size: 2rem;
    }
    .caption{
        font-size: 1rem;
    }
   .home2div{
    width: 100%;
    margin: 0;
   }
    .home2text{
        font-size: 0.7rem;
    }
    .home2img{
        width: 30%;
    }

    .home3content{
        width: 80%;
    }
    
    .home3heading{
        font-size: 1.6rem;  
    }
    
    .home3text{
    
        font-size: 0.5rem;
    }
    .home4heading{  
        font-size: 1.5rem;
    }
    .brandlogos{
        margin:1rem 0;
    }
    
    .home4 .brandlogos div{
        margin: 1rem;
        height: 3rem;
        width: 3rem;
    font-size: 0.3rem;
    }
    .home4 .brandlogos div svg{
        font-size: 1.5rem;
    }
    .home4 .brandlogos div:hover{
    filter: invert(1);
    background-color: gray;
    transform: scale(1.2);
    }
}